In [25]:
pwd

'/Users/hyeongcheolmoon/Desktop'

In [56]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

seed = 37

In [27]:
train = pd.read_csv("ML/train.csv", index_col=["PassengerId"])
print(train.shape)
train.head()

(891, 11)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [28]:
test = pd.read_csv("ML/test.csv", index_col=["PassengerId"])
print(test.shape)
test.head()

(418, 10)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

# Preprocessing

## Encode sex

In [29]:
train.loc[train["Sex"] == "male", "Sex_encode"] = 0
train.loc[train["Sex"] == "female", "Sex_encode"] = 1

print (train.shape)

train[["Sex", "Sex_encode"]].head()

(891, 12)

                Sex  Sex_encode
PassengerId
1              male         0.0
2            female         1.0
3            female         1.0
4            female         1.0
5              male         0.0

In [30]:
test.loc[test["Sex"] == "male", "Sex_encode"] = 0
test.loc[test["Sex"] == "female", "Sex_encode"] = 1

print (test.shape)
test[["Sex", "Sex_encode"]].head()

(418, 11)

                Sex  Sex_encode
PassengerId
892            male         0.0
893          female         1.0
894            male         0.0
895            male         0.0
896          female         1.0

## Fill in missing fare

In [31]:
mean_fare = train["Fare"].mean()
print("Fare(mean) = ${0:.3f}".format(mean_fare))

Fare(mean) = $32.204

In [32]:
train["Fare_fillin"] = train["Fare"]
test["Fare_fillin"] = test["Fare"]

test.loc[pd.isnull(test["Fare"]), "Fare_fillin"] = mean_fare

missing_fare = test[pd.isnull(test["Fare"])]

print(missing_fare.shape)
test.loc[missing_fare.index, ["Fare", "Fare_fillin"]].head()

(1, 12)

             Fare  Fare_fillin
PassengerId
1044          NaN    32.204208

In [33]:
print(test.shape)
test.axes

(418, 12)

[Int64Index([ 892,  893,  894,  895,  896,  897,  898,  899,  900,  901,
             ...
             1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309],
            dtype='int64', name='PassengerId', length=418),
 Index(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
        'Cabin', 'Embarked', 'Sex_encode', 'Fare_fillin'],
       dtype='object')]

## Encode Embarked

In [34]:
train_embarked = pd.get_dummies(train["Embarked"],prefix="Embarked")

print(train_embarked.shape)
print(train.shape)
train_embarked.head()

(891, 3)
(891, 13)

             Embarked_C  Embarked_Q  Embarked_S
PassengerId
1                     0           0           1
2                     1           0           0
3                     0           0           1
4                     0           0           1
5                     0           0           1

In [35]:
test_embarked = pd.get_dummies(test["Embarked"],prefix="Embarked")

print(test_embarked.shape)
test_embarked.head()
print(test.shape)

(418, 3)
(418, 12)

In [36]:
train = pd.concat([train, train_embarked], axis=1)
print(train.shape)

(891, 16)

In [37]:
test = pd.concat([test, test_embarked], axis=1)
print(test.shape)

(418, 15)

In [38]:
feature_names = ["Pclass", "Sex_encode", "Fare_fillin",
                 "Embarked_C", "Embarked_Q", "Embarked_S"]

X_train = train[feature_names]

print(X_train.shape)
X_train.head()

(891, 6)

,Pclass,Sex_encode,Fare_fillin,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,
1,3,0.0,7.2500,0,0,1
2,1,1.0,71.2833,1,0,0
3,3,1.0,7.9250,0,0,1
4,1,1.0,53.1000,0,0,1
5,3,0.0,8.0500,0,0,1

In [39]:
label_name = "Survived"

y_train = train[label_name]

print(y_train.shape)
y_train.head()

(891,)

PassengerId
1    0
2    1
3    1
4    1
5    0
Name: Survived, dtype: int64

In [47]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(max_depth=3, random_state=seed)

model.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=37,
            splitter='best')

## Visualize

In [58]:
from sklearn.tree import export_graphviz
import graphviz

export_graphviz(model, 
                feature_names = feature_names, 
                class_names=["Perish", "Survived"], 
                out_file="decision-tree.dot")

with open("decision-tree.dot") as f:
    dot_graph = f.read()
    
graphviz.Source(dot_graph)

## Predict

In [59]:
X_test = test[feature_names]

print(X_test.shape)
X_test.head()

(418, 6)

,Pclass,Sex_encode,Fare_fillin,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,
892,3,0.0,7.8292,0,1,0
893,3,1.0,7.0000,0,0,1
894,2,0.0,9.6875,0,1,0
895,3,0.0,8.6625,0,0,1
896,3,1.0,12.2875,0,0,1

In [62]:
prediction = model.predict(X_test)

print(prediction.shape)
prediction[:20]

(418,)

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1])

## Submit

In [66]:
submission = pd.read_csv("ML/gender_submission.csv", index_col="PassengerId")

submission["Survived"] = prediction.astype(np.int32)

print(submission.shape)
submission.head()

(418, 1)

             Survived
PassengerId
892                 0
893                 1
894                 0
895                 0
896                 1

In [68]:
submission.to_csv("ML/baseline_script.csv")